.layout {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main";
  grid-template-rows: 64px 1fr;
  grid-template-columns: 240px 1fr;
  min-height: 100vh;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
  overflow-y: auto;
}

.main {
  grid-area: main;
  overflow-y: auto;
  background: #FAFAFA;
}
