# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# TypeScript, JavaScript, JSON
[*.{ts,tsx,js,jsx,json,jsonc}]
indent_style = space
indent_size = 2

# YAML
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2

# Docker
[Dockerfile*]
indent_style = space
indent_size = 2

# Prisma
[*.prisma]
indent_style = space
indent_size = 2

# CSS, SCSS
[*.{css,scss,sass}]
indent_style = space
indent_size = 2

# HTML
[*.html]
indent_style = space
indent_size = 2

# Makefile
[Makefile]
indent_style = tab

