# Dependencies
node_modules/

# Build outputs
dist/
build/
out/
*.tsbuildinfo

# Coverage
coverage/

# Database
prisma/migrations/

# Logs
*.log

# Cache
.cache/
.parcel-cache/
.next/
.nuxt/
.vuepress/dist/

# Config files
*.config.js
*.config.ts

# Lock files
pnpm-lock.yaml
package-lock.json
yarn.lock

