.section {
  margin-top: 8px;
}

.header {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  padding: 8px 4px;
  color: #616161;
  user-select: none;

  &:hover {
    color: #212121;
  }
}
